<h1>Editing Comment</h1>

<%= form_for @comment, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
 <%= f.text_area :description, :value => @comment.description %>
 <%= f.submit "Update" %>
<% end %>
