<h1>Community Guidelines</h1>

<h3>Overview:</h3>
<p>
The goals of this community are to assist alumni in their personal and professional pursuits, to help maintain friendships and connections formed while students, to build strong and mutually beneficial ties between all alumni, to promote goodwill in the community and to stimulate interest and enhance involvement with our institution through increased opportunities for engagement.

In order to meet the goals of this community, it’s important for members to feel like they are in a safe place that is populated by people with shared interests. As such, we request that you read and adhere to the guidelines that follow.
</p>
 

<h3>Guidelines:</h3>

<ul>
    <li>
        Treat others online as you would treat them in real life
    </li>
    <li>
        Be tolerant towards other’s viewpoints; respectfully disagree when opinions do not align
    </li>
    <li>
        Respect the privacy and personal information of other alumni
    </li>
    <li>
        Communicate with courtesy and respect
    </li>
</ul>
<ul>
    <li>
        DO NOT:
    </li>
    <li>
        Make personal attacks on other community members
    </li>
    <li>
        Use defamatory remarks or make false statements against others
    </li>
    <li>
        Post prejudiced comments or profanity
    </li>
    <li>
        Bully or make inflammatory remarks to other community members
    </li>
</ul>
<p>
    Use messaging/email responsibly.  These tools are intended to keep alumni in touch with one another, to help facilitate networking and to promote common interests.  Some examples might include:
    Messaging/email and use of personal contact information made available through the Alumni Directory —including names, mailing addresses, phone numbers, email addresses, social media accounts, student information, employment information for any commercial, advocacy, promotional, or political purpose is prohibited. Prohibited activities include solicitations for business or personal services, fundraising, cold-calling of any kind, mass-mailings, or broadcast e-mails. 
</p>
<p>
    Consequences:
    We will take action when we see someone violating these guidelines. Sometimes that just means giving someone a warning; other times it means revoking certain privileges or accounts entirely. We request that all community members report behavior that violates our guidelines to support@360alumni.com.       
</p>


<h2>Agreement:</h2>
<p>
    By logging onto the community and activating your profile, you are considered to be in agreement with the terms and conditions listed above.
</p>