<h1>Welcome to Brisband!</h1>
<p>We're a community-driven marketplace for local musicians to share & trade gear.</p>

<ul>
    <li><%= link_to 'Gear', items_path %></li>
    <li><%= link_to 'Artists', bands_path %></li>
    <li>Coming Soon: Venues</li>
    <li>Comming Soon: Gigs</li>
<ul>