/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

table {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
}

.index {
    padding-top: 100px;
    padding-bottom: 200px;
}

.content-background {
    background-color: white;
    color: black;
}

.content-background h1,
.content-background h2,
.content-background h3,
.content-background h4,
.content-background h5,
.content-background h6 {
    color: black;
}

.sub-container {
    padding-bottom: 100px;
}

.page-footer,
.nav-extended {
    background-color: #6102a9e1;
    color: white;

    a:visited {
        color: white;
    }
}

select,
input[type="checkbox"] {
    opacity: 1 !important;
    display: block;
}